
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px;
}

.Login-con{
    width: 400px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.butns{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.btn{
    width: auto;
}

.form-header{
    display: flex;
    align-items: center;
    justify-content: center;
}